/* IMPOSTAZIONI GENERALI */
html {
    font-size: 62,5%;
}

body {
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
    font-family: 'fira sans';
}

h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;
    padding: 1em 0;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

h2 {
    line-height: 1;
    font-size: 2rem;
}

h3 {
    line-height: 1;
    font-size: 1.7rem;
    margin-bottom: 0.6em;
}

h4 {
    line-height: 1;
    font-size: 1.5rem;
}

.fas {
    color: #e42424;
}

.far {
    color: #e42424;
}

.fab {
    color: #e42424;
}

.animazione {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0);
    position: relative;
    animation-iteration-count: infinite;
  }

.button {
    border: none;
    padding: 0.7em;
    color: white;
    font-size: 1.2rem;
    background: linear-gradient(#6cc1e2, #392f7a);
}

/* HEADER */
header {
    color: white;
    box-shadow: 0px 6px 6px 2px #d3d3d3;
}

#logo {
    margin: 0.5em 0 0 0.5em;
}


.registrati {
    font-size: 1em;
    padding: 0.5em 1em;
}

/* MAIN */
.titolo {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 1.2em;
}

    .titolo p {
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        padding: 1em 0;
    }

.titolo2 {
    margin-top: 3.3em;
    text-align: center;
    padding: 0 1.2em;
}

    .titolo2 p {
        margin: 1.2em 0;
        padding: 0 1.2em;
    }

.scritte-logo {
    text-align: center;
    padding: 0 1em;
    margin: 1.5em 0 2em 0;
}

.scritte-logo2 {
    padding: 0 1.2em;
}

    .paragrafi {
        text-align: center;
        margin-bottom: 1.7em;
    }

.sezione-blu {
    text-align: center;
    background-color: rgb(26, 26, 88);
    color: white;
    padding: 3.5em 0;
    margin-top: 2.4em;
}

    .sezione-blu h2 {
        padding: 0 1.5em;
        margin-bottom: 1.1em;
    }

    .sezione-blu p {
        margin-bottom: 1.5em;
    }

.img-paragrafi {
    margin: 1.5em 0;
}

.notebook {
    text-align: center;
}

    .notebook img {
        width: 80%;
        margin-bottom: 1.2em;
    }
    
    /* CONTATTI.HTML */
.contatti {
    margin: 0 1.2em;
    text-align: center;
}

#h1-contatti {
    padding: 1.5em 0;
    text-align: center;
    padding-bottom: 0.5em;
    color: black;
    margin-bottom: 1em;
}

.form {
    margin-bottom: 3em;
    flex-basis: 75%;
}

textarea {
    padding: 1em 0 0 1em;
    border: 1px solid gray;
    font-style: italic;
    text-align: left;
    width: 95%;
}

.form1 {
    padding: 0em 0 0 1em;
    border: 1px solid gray;
    font-style: italic;
    text-align: left;
    line-height: 3;
    display: block;
    margin: 1.5em auto;
    width: 95%;
}

.form button {
    padding: 0 1.5em;
    text-align: center;
    font-style: normal;
    border: none;
}

.info h2 {
    margin-bottom: 0.5em;
}

.info p {
    margin-bottom: 1.6em;
}


/* TABLE */

/* FOOTER */
footer {
    text-align: left;
    background-color: rgb(238, 238, 238);
    margin-top: 2.5em;
    padding: 1.2em;
}

    .footer-int {
        padding: 1.5em 1.5em 0.5em 1.5em;
        margin-bottom: 1.3em;
    }

    .footer-int h4 {
        margin-bottom: 1.1em;
    }

    .big-email {
        display: flex;
        flex-direction: column;
    }

        .big-email button {
            border: none;
        }

        .big-email input {
            line-height: 3.5;
        }
        address {
            text-align: center;
        }

/* RESPONSIVE */
@media screen and (max-width: 750px) {
    header nav ul {
        height: 0;
        visibility: hidden;
    }
    
    .menu:checked ~ nav ul {
        height: 150px;
        visibility: visible;
    }

    .tendina {
        margin-right: 1.3em;
        padding-bottom: 1.2em;
    }

    li {
        text-align: right;
    }

    a {
        font-size: 1.3em;
        text-decoration: none;
        color: gray;
    }

    .menu {
        display: none;
        position: absolute;
        top: 3vh;
        right: 5vw;
    }
    
    .icon {
        position: absolute;
        top: 3vh;
        right: 5vw;
        color: #e42424;
    }

    #main-contatti {
        padding: 0;
    }    

    .form button {  
        margin-top: 0.5em;
        padding-left: 0px;
        padding-right: 0px;
        width: 180px;
        line-height: 2.5;  
    }    

    /* CHI SIAMO */
    .main-chi {
        text-align: center;
        margin: 0 1.5em;
    }

    .titolo-chi h2 {
        color: #000;
        margin: 1.5em 0 0.8em 0;
        font-size: 2.3em;
    }

    .titolo-chi p {
        margin-bottom: 1.5em;
    }

    .img-chi img {
        width: 100%;
        margin-bottom: 1.2em;
    }

    .img-chi p {
        margin-bottom: 1.3em;
    }

    .table-m table {
        text-align: left;
        margin: 5em auto auto auto;
        border-collapse: collapse;
    }

         caption {
             text-align: center;
             font-size: 1.4em;
         }

         .table-m table tr {
             color: black;
         }

         .table-m table th {
             font-weight: bold;
             padding: 0.3em 0.4em 0.3em 0.5em;
             white-space: nowrap;      
         }

         .thead {
             background-color: #d2dce7;
             color: white;
         }
     
    .table {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    
    .menu {
        display: none;
    }
    .icon {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-around;
    }

    .tendina {
        padding-top: 0.7em;
    }

    #logo {
        margin-top: 0.6em;
        margin-left: 1.2em;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        padding: 0.6em;
    }
    
    li:nth-child(3) {
        padding-right: 0;
        margin-right: 1em;
    }

    a {
        font-size: 1.3em;
        text-decoration: none;
        color: gray;
    }

    .titolo {
        padding: 5em;
    }

    .titolo2 p {
        padding: 0 8em;
    }

    .scritte-logo {
        display: flex;
        column-gap: 1.2em;
        padding: 0 1.2em;
    }

    .paragrafi {
        padding: 0 1.2em;
    }

    .paragrafi p {
        text-align: left;
    }

    .img-paragrafi {
        display: flex;
        justify-content: center;
        padding: 0 1.2em;
        column-gap: 1.5em;
    }

    .scritte-logo2 {
        padding: 1.6em 0;
    }

    .scritte-logo2 h3 {
        text-align: left;
    }

    .notebook img {
        width: 100%;
    }

    .footer-flex {
        display: flex;
        column-gap: 1.3em;
        padding: 0 1.2em;
        justify-content: center;
    }

    .footer-int:nth-child(1) {
        padding-left: 1.4em;
    }

    .footer-int:nth-child(2) {
            padding: 1.5em 0 0.5em 1.5em;
    } 

    .footer-int:nth-child(3) {
        padding: 1.4em 1.5em 0.5em 0;
    }

    #main-contatti {
        padding: 0 1.5em;
    }

    #h1-contatti {
        font-size: 2.5em;
        margin-bottom: 0;
    }

    .contatti {
        display: flex;
        margin: 0;
        padding: 0 1.2em 1.5em 1.2em;
        column-gap: 3em;
    }

    .form button {
        margin-top: 0.8em;
        padding: 0;
        width: 220px;
    }

    .info {
        padding-top: 2em;
    }

    #distanza {
        margin-bottom: 1.2em;
    }

    /* CHI SIAMO */
    .main-chi {
        text-align: center;
        margin: 0 2em;
    }

    .titolo-chi {
        padding: 0 1.3em;
    }

    .titolo-chi h2 {
        font-size: 3em;
        color: #000;
        margin: 1.5em 0 0.8em 0;
    }

    .titolo-chi p {
        margin-bottom: 1.5em;
    }

    .chi-siamo {
        display: flex;
        column-gap: 2em;
    }

    .img-chi img {
        width: 100%;
        margin-bottom: 1.2em;
    }

    #foto1-chi {
        width: 96%;
    }

    .img-chi p {
        margin-bottom: 1.3em;
    }

    .table table {
        text-align: center;
        margin: 2.5em auto auto auto;
        border-collapse: collapse;
        margin-bottom: 1.5em;
    }

         caption {
             text-align: center;
             font-size: 1.7em;
         }

         .table tr:nth-child(odd) {
             background-color: #d2dce7;
         }

         #thead {
            background-color: #5f82a3;
            color: white;
        }

         .table th {
            padding: 1.2em 1em;
         }

         .table td {
            padding: 1.2em 1em;
         }
     
    .table-m {
        display: none;
    }

}

@media screen and (min-width: 1024px) {
    body {
       padding: 0;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    header img {
        width: 180px;
        margin-top: 0;
        padding-top: 10px;
    }

    .menu {
        display: none;
    }
    .icon {
        display: none;
    }

    .titolo {
        padding-right: 200px;
        padding-left: 230px;
    }

    .titolo2 p {
        padding-left: 250px;
        padding-right: 250px;
    }

    .paragrafi .paragrafi:nth-child(1) {
        padding-left: 30px;
    }

    .scritte-logo {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .img-paragrafi {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .info {
        padding-top: 20px;
    }

    .form {
        margin-bottom: 3em;
        flex-basis: 50%;
    }

    .form button {
        width: 200px;
        margin-top: 15px;
    }

    .contatti {
        padding: 0 0 1.5em 1.2em;

    }
    
    #h1-contatti {
        margin-bottom: 0;
    }
    
    #main-contatti {
        padding: 0 5em;
    }

    footer {
        padding: 1.2em 4em;
    }
    
    .footer-flex {
        padding: 2em 3.2em 0 3.2em;
        column-gap: 3em;
    }

    footer p {
        line-height: 1.5;
    }

    .footer-int:nth-child(2) {
        padding: 1.5em 0 0.5em 1.5em;
    }

    .footer-int:nth-child(3) {
        padding: 1.4em 1.5em 0.5em 1.4em;
    }

    /* CHI SIAMO */
    .main-chi {
        padding: 0 8em;
    }

    .table table {
        text-align: center;
        margin: 0 auto;
        border-collapse: collapse;
        margin-bottom: 1.5em;
        margin-top: 5em;
    }

    .table td {
        padding-left: 1em;
        padding-right: 1em;
    }

    .table-m {
        display: none;
    }    
}

