body {
  display: flex;
  margin: 0; }
  @media screen and (min-width: 700px) {
    body {
      flex-direction: column; } }

header {
  margin: 0; }

nav {
  background-color: #098e92;
  width: 37vw;
  height: 100vh;
  margin-right: 3vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem; }
  @media screen and (min-width: 700px) {
    nav {
      width: 100vw;
      height: 20vh; } }
  nav ul {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding: 1vw 0 0 1vw; }
    @media screen and (min-width: 700px) {
      nav ul {
        flex-direction: row;
        justify-content: space-evenly; } }
  nav li {
    list-style-type: none;
    padding: 3vh 0.8vh 0 1vh; }
  nav:first-child {
    padding-top: 5vh; }
  nav a {
    text-decoration: none;
    color: #a11616; }

#main {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #535252; }
